.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    background-color:#ffd400;
    color: #372902;
}

.navbar_logo {
    display: flex;
    align-items: center;
}

.navbar_logo img{
    width: 5em;
    margin-right: 0.8em;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar li, .navbar a {
    text-decoration: none;
    color: 16479d;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: 0.5em 0.8em;
    border-radius: 0.5em;
}

.navbar li:hover {
    background-color: #372902;
    color: white;
}

.navbar li:hover > a {
    color: white;
}

ul span {
    font-weight: bold;
}


.btnSair {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: #ffffff; /* Cor do texto */
    background-color: #aa0c04; /* Cor de fundo padrão */
    border-radius: 5px; /* Cantos arredondados */
    transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
}
.s{
    margin-right: 15px;
}


.conf{
    display: inline;
    padding: 15px;
    position:relative;
    right: 400px;
}